.start-btn {
  margin-top: auto;
  background: var(--primary-blue);
  color: white;
  border: none;
  padding: 18px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
   transition: all 0.1s ease;
}

.start-btn:active {
  transform: scale(0.98);
}