.level-card {
  background: var(--card-bg);
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease;
}

.level-card:active {
  transform: scale(0.98);
}

.level-card.selected {
  border-color: var(--primary-blue);
  background: rgba(13, 127, 242, .1)
}

.level-description {
    display: flex;
}

.level-description .level-info {
    text-align: left;
}

.level-description .level-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.icon-novice { color: #2ecc71; background: rgba(46, 204, 113, 0.1); }
.icon-pro { color: #3498db; background: rgba(52, 152, 219, 0.1); }
.icon-elite { color: #9b59b6; background: rgba(155, 89, 182, 0.1); }

.level-description  .level-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.level-description .level-info p {
  font-size: 12px;
  color: var(--text-muted);
  margin: 0px;
  margin-top: 4px;
}

.level-example {
  margin-left: auto;
  background: rgba(16, 25, 34, .5);
  padding: 6px 8px;
  border-radius: 4px;
  color: #64748B;
  font-size: 10px;
}

.check-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primary-blue);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 2px solid var(--bg-color);
}
