.app-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0 auto;
  background: radial-gradient(circle at top left, #102a43, var(--bg-color)); 
  position: relative;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mode-title {
  color: white; 
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.progress-dots {
  margin-top: 4px;
  display: flex;
}

.dot-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 14px;
  margin-right: 4px;
}

.dot {
  width: 20px;
  height: 4px;
  background-color: #1e293b;
  border-radius: 2px;
}

.dot.active {
  background-color: #3b82f6;
}

.dot.current {
  background-color: #3b82f6;
  opacity: 0.5;
}

.dot.text {
  background: none;
  color: #64748b;
  font-size: 12px;
  width: auto;
  margin-left: 5px;
}

.timer-container {
  width: 100%;
  height: 6px;
  background-color: #1e293b;
  margin-bottom: 10px;
}

.timer-bar {
  height: 100%;
  background-color: #3b82f6; 
  transition: width 1s linear;
}
